<%= nested_form_for @recipe do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :recipe_name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.trix_editor :description, id: :recipe_description %>
  </div>

  <%= form.fields_for :recipe_ingredients do |ri| %>
    Ingredients: <%= form.autocomplete_field :ingredient_ids, autocomplete_ingredient_name_recipes_path %>
    <%= ri.text_field :ingredient_id %>
    Amount: <%= ri.text_field :amount %>
    <%= ri.link_to_remove "Remove" %>
  <% end %>
  <%= form.link_to_add "Add an ingredient", :recipe_ingredients %>

  <div class="field">
    <%= form.label :cooking_process %>
    <%= form.trix_editor :cooking_process, id: :recipe_cooking_process %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
